<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-s-3 icon-footer">
              <img alt="icono de envios" src="img/icon-shipping.png" height="60px"/>
              <p><strong>Envío gratis</strong><br> Por $29 de compra</p>
            </div>

            <div class="col-xs-6 col-s-3 icon-footer">
                <img alt="icono de devoluciones gratis" src="img/icon-refund.png" height="60px"/>
                <p><strong>Devoluciones gratis</strong><br> Tienes 90 días</p>
            </div>

            <div class="col-xs-6 col-s-3 icon-footer">
                <img alt="icono de atencion al cliente" src="img/icon-customer-service.png" height="60px"/>
                <p><strong>Atención al cliente</strong><br> 7 Días a la semana</p>
            </div>

            <div class="col-xs-6 col-s-3 icon-footer">
                <img alt="icono de pago seguro" src="img/icon-secure.png" height="60px"/>
                <p><strong>Pago seguro</strong><br> 100% confiable</p>
            </div>
            
        </div>

        <p>&copy; Kiko Palomares Academy</p>
    </div>
    
    
</footer>