<aside>

    <div class="widget">

        <h3>Iniciar sesión</h3>

        <form>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Iniciar sesión">
        </form>

    </div>

        <h3>Últimas entradas</h3>

        <ul>
            <li>
                <a href="#">El desarrollo web no es nada mas que copiar y pegar</a>
            </li>
            <li>
                <a href="#">Cómo hace un slider con HTML y CSS</a>
            </li>
            <li>
                <a href="#">¿Por qué HTML no es un lenguaje de programación?</a>
            </li>   
            <li>
                <a href="#">Como poner la primera letra en mayúscula en CSS</a>
            </li>
            <li>
                <a href="#">¿Qué es un lenguaje de marcado?</a>
            </li>
        </ul>

    <div class="widget">

        <h3>Frase del dia</h3>

        <blockquote>
            La mejor manera de ser un programador es estudiar y escribir codigo.
        </blockquote>

    </div>

</aside>