<section id="content">
    <h1>Últimas Noticias</h1>

    <article>

        <h2>El desarrollo WEB no es nada más que copiar y pegar</h2>
        <p>El desarrollo web es una disciplina mucho más compleja que 
        simplemente leer y copiar código. Si bien la búsqueda de información 
        el uso de recursos existentes son prácticas comunes, el desarrollo web 
        implica una serie de habilidades y conocimientos que van más allá de la mera copia</p>
        <a href="#">Leer más >></a>

        <h2>Cómo hacer un slider con HTML y CSS</h2>
        <p>Estructura HTML contenedor principal contenedor de slides diapositivas navegación opcional 
        Estilos CSS contenedor principal tamaño ocultar contenido contenido fila transicion diapositivas 
        tamaño navegación estilos JavaScript interactivo automático adaptabilidad diferentes pantallas librerías funciones avanzadas</p>
        <a href="#">Leer más >></a>

        <h2>¿Por qué HTML no es un lenguaje de programación?</h2>
        <p>HTML es un lenguaje de marcado diseñado para organizar y presentar información en la web, 
        mientras que los lenguajes de programación se utilizan para crear aplicaciones y software con lógica y funcionalidad compleja.</p>
        <a href="#">Leer más >></a>

        <h2>Como poner la primera letra en mayúscula en CSS</h2>
        <p>Para poner la primera letra de un texto en mayúscula usando CSS, puedes utilizar la propiedad text-transform con el valor capitalize.</p>
        <a href="#">Leer más >></a>

        <h2>¿Qué es un lenguaje de marcado?</h2>
        <p>Un lenguaje de marcado es un sistema de codificación que utiliza "etiquetas" para definir la estructura y presentación de un documento. 
        A diferencia de los lenguajes de programación, los lenguajes de marcado no describen la lógica del programa, sino que describen la organización 
        y el formato del contenido.</p>
        <a href="#">Leer más >></a>

    </article>

    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li>...</li>
        <li><a href="#">23</a></li>
    </ul>

</section>